###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=dd7a0040cf0b3ddf2730c3612796c962
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

GRAYLOG_HOST=
GRAYLOG_USER=
GRAYLOG_PASSWORD=